{% extends 'base.html' %}

{% block title %}{{ _('Password reset complete') }}{% endblock %}

{% block content %}
    <h1>{{ _('Password reset complete') }}</h1>
    <p>{{ _('Your password has been set. You may go ahead and log in now.') }}</p>
{% endblock %}
