{% extends 'base.html' %}

{% block title %}{{ _('Password reset') }}{% endblock %}

{% block content %}
    <h1>{{ _('Password reset') }}</h1>
    <p>{{ _('Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.') }}</p>
    {% with submit_label=_('Reset password') %}
        {% include "include/form.html" %}
    {% endwith %}
{% endblock %}
